{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
