@mixin replace-text {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}

body#index {
  margin:0;
  padding:0;
  & > div.container {
    & > nav {
      & > ul.summary {
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: 2;
        & > li {
          height: 25%;
          width: 100%;
          overflow: hidden;
          //transform: translateZ(1px);
          &.slide_out {
            transform: translateX(-100%);
          }
          & > a {
            display: block;
            height: 100vh;
            width: 100%;
            opacity: 1;
            & > div.p_t {
              position: absolute;
              width: 100%;
              top: calc(50% - 25px);
              left: 0;
              color: #fff;
              text-align: center;
              & > h1 {
                white-space: nowrap;
              }
            }
          }
          &.goal {
            & > a {
              background: url(/img/img-1.jpg) center center / cover no-repeat;
              transform: translateY(0%);
              & > div.p_t {
                transform: translateY(-37.5vh);
              }
            }
          }
          &.activities {
            & > a {
              background: url(/img/img-2.jpg) center center / cover no-repeat;
              transform: translateY(-25%);
              & > div.p_t {
                transform: translateY(-12.5vh);
              }
            }
          }
          &.line_at {
            & > a {
              background: url(/img/img-3.jpg) center center / cover no-repeat;
              transform: translateY(-50%);
              & > div.p_t {
                transform: translateY(12.5vh);
              }
            }
          }
          &.network {
            & > a {
              background: url(/img/img-4.jpg) center center / cover no-repeat;
              transform: translateY(-75%);
              & > div.p_t {
                transform: translateY(37.5vh);
              }
            }
          }
          @media only screen and (min-width: 1024px) {
            display: inline-block;
            height: 100%;
            width: 25%;
            float: left;
            &.slide_out {
              transform: translateY(-100%);
            }
            & > a {
              width:400%;
              & > div.p_t {
                width:25%;
                top: 50vh;
              }
            }
            &.goal {
              & > a {
                transform: translateX(0%);
                & > div.p_t {
                  transform: translateX(0%) translateY(0%);
                }
              }
            }
            &.activities {
              & > a {
                transform: translateX(-25%);
                & > div.p_t {
                  transform: translateX(100%);
                }
              }
            }
            &.line_at {
              & > a {
                transform: translateX(-50%);
                & > div.p_t {
                  transform: translateX(200%);
                }
              }
            }
            &.network {
              & > a {
                transform: translateX(-75%);
                & > div.p_t {
                  transform: translateX(300%);
                }
              }
            }
          }
        }
      }
    }

    main[role='main'] {
      & > article {
        & > ul.contents {
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height: 100vh;
          z-index: 1;
          & > li {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            &.selected {
              opacity: 1;
            }
            &.content-visible {
              > &.preview {

              }
              > section {
                display: block;
              }
            }
            & > div.preview {
              display: block;
              height: 100vh;
              & > div.p_t {
                position: absolute;
                width: 100%;
                top: calc(50% - 25px);
                left: 0;
                color: #fff;
                text-align: center;
                & > h1 {}
                & > p {}
              }
            }
            & > section {
              display: none;
              min-height: 100vh;
            }
            &.goal {
              & > div.preview {
                background: url(/img/img-1.jpg) center center / cover no-repeat;
              }
            }
            &.activities {
              & > div.preview {
                background: url(/img/img-2.jpg) center center / cover no-repeat;
              }
            }
            &.line_at {
              & > div.preview {
                background: url(/img/img-3.jpg) center center / cover no-repeat;
              }
            }
            &.network {
              & > div.preview {
                background: url(/img/img-4.jpg) center center / cover no-repeat;
              }
            }
          }
        }
      }
    }
  }
}
