@mixin replace-text {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}

body#index {
  background: #363433;
  margin:0;
  padding:0;
  & > a.nav-trigger {
    position: absolute;
    z-index: 4;
    top: 24px;
    right: 5%;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition: background 0.2s;
    & > span.cd-icon {
      display: inline-block;
      width:18px;
      height:2px;
      left:50%;
      top:50%;
      bottom:auto;
      right:auto;
      transform: translate(-50%, -50%);
      transition: transform 0.3s, background-color 0.3s;
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      &:before, &:after {
        content: '';
        top:0;
        right:0;
        width:100%;
        height:100%;
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        backface-visibility: hidden;
        transition: transform 0.3s;
      }
      &:before {
        transform: translateY(-6px);
      }
      &:after {
        transform: translateY(6px);
      }
    }
    &.project-open {
      & > span.cd-icon {
        background-color: rgba(255,255,255,0);
        &:before {
          transform: translateY(0) rotate(45deg);
        }
        &:after {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
    &.nav-visible {
      & > span.cd-icon {
        transform: translate(-50%, -50%);
        &:before {
          transform: translate(5px, -3px) rotate(45deg) scaleX(0.5);
        }
        &:after {
          transform: translate(5px, 3px) rotate(-45deg) scaleX(0.5);
        }
      }
      @media only screen and (min-width: $large-screen) {
        & > span.cd-icon {
          transform: translate(-50%, -50%) rotate(-90deg);
          &:before {
            transform: translate(-5px, -3px) rotate(-45deg) scaleX(0.5);
          }
          &:after {
            transform: translate(-5px, 3px) rotate(45deg) scaleX(0.5);
          }
        }
      }
    }
  }
  & > div.container {
    position: relative;
    & > nav {
      & > ul.summary {
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: 2;
        & > li {
          height: 25%;
          width: 100%;
          overflow: hidden;
          transition: transform 0.5s;
          &.slide_out {
            transform: translateX(-100%);
          }
          & > a {
            position: relative;
            display: block;
            height: 100vh;
            width: 100%;
            opacity: 1;
            &:hover {
              & > div.p_t {
                &:after {
                  transform: translateX(-50%) scale(1);
                }
              }
            }
            & > div.p_t {
              position: absolute;
              top:0;
              left:0;
              width:100%;
              color: #fff;
              text-align: center;
              &:after {
                content: '';
                position: absolute;
                left:50%;
                bottom:-10px;
                width:40px;
                height:1px;
                background: #ffffff;
                transform: translateX(-50%) scale(0);
                transition: transform 0.3s;
              }
              & > h1 {
                white-space: nowrap;
              }
            }
          }
          &.goal {
            & > a {
              background: url(/img/img-1.jpg) center center / cover no-repeat;
              transform: translateY(0%);
              & > div.p_t {
                transform: translate(0, 8vh);
              }
            }
          }
          &.activities {
            & > a {
              background: url(/img/img-2.jpg) center center / cover no-repeat;
              transform: translateY(-25%);
              & > div.p_t {
                transform: translate(0, 8 + 25*1vh);
              }
            }
          }
          &.disaster {
            & > a {
              background: url(/img/img-3.jpg) center center / cover no-repeat;
              transform: translateY(-50%);
              & > div.p_t {
                transform: translate(0, 8 + 25*2vh);
              }
            }
          }
          &.network {
            & > a {
              background: url(/img/img-4.jpg) center center / cover no-repeat;
              transform: translateY(-75%);
              & > div.p_t {
                transform: translate(0, 8 + 25*3vh);
              }
            }
          }
          @media only screen and (min-width: $large-screen) {
            display: inline-block;
            height: 100%;
            width: 25%;
            float: left;
            &.slide_out {
              transform: translateY(-100%);
            }
            & > a {
              width:400%;
              & > div.p_t {
                width:25%;
                top:50vh;
              }
            }
            &.goal {
              & > a {
                transform: translateX(0%);
                & > div.p_t {
                  transform: translate(0, 0);
                }
              }
            }
            &.activities {
              & > a {
                transform: translateX(-25%);
                & > div.p_t {
                  transform: translate(100%, 0);
                }
              }
            }
            &.disaster {
              & > a {
                transform: translateX(-50%);
                & > div.p_t {
                  transform: translate(200%, 0);
                }
              }
            }
            &.network {
              & > a {
                transform: translateX(-75%);
                & > div.p_t {
                  transform: translate(300%, 0);
                }
              }
            }
          }
        }
      }
    }

    main[role='main'] {
      & > article {
        & > ul.contents {
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height: 100vh;
          z-index: 1;
          & > li {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.3s;
            &.content-visible {
              > &.preview {
              }
              > section {
                display: block;
              }
            }
            & > div.preview {
              position: relative;
              display: block;
              width: 100%;
              height: 100vh;
              opacity: 1;
              & > div.p_t {
                position: relative;
                display: block;
                width: 100%;
                color: #fff;
                text-align: center;
                transition: transform 0.7s 0.3s;
                & > h1 {
                }
                & > p {
                }
              }
            }
            & > section {
              display: none;
              min-height: 100vh;
            }
            &.goal {
              & > div.preview {
                background: url(/img/img-1.jpg) center center / cover no-repeat;
                & > div.p_t {
                  transform: translate(0, 8vh);
                }
              }
            }
            &.activities {
              & > div.preview {
                background: url(/img/img-2.jpg) center center / cover no-repeat;
                & > div.p_t {
                  transform: translate(0, 8 + 25*1vh);
                }
              }
            }
            &.disaster {
              & > div.preview {
                background: url(/img/img-3.jpg) center center / cover no-repeat;
                & > div.p_t {
                  transform: translate(0, 8 + 25*2vh);
                }
              }
            }
            &.network {
              & > div.preview {
                background: url(/img/img-4.jpg) center center / cover no-repeat;
                & > div.p_t {
                  transform: translate(0, 8 + 25*3vh);
                }
              }
            }
            &.selected {
              z-index: 1;
              opacity: 1;
              transition: opacity 0s;
              & > div.preview {
                & > div.p_t {
                  transform: translate(0, 48vh);
                }
              }
              &.goal {
                & > div.preview {
                  & > div.p_t {
                  }
                }
              }
              &.activities {
                & > div.preview {
                  & > div.p_t {
                  }
                }
              }
              &.disaster {
                & > div.preview {
                  & > div.p_t {
                  }
                }
              }
              &.network {
                & > div.preview {
                  & > div.p_t {
                  }
                }
              }
            }
            @media only screen and (min-width: $large-screen) {
              & > div.preview {
                & > div.p_t {
                  width:25%;
                  top:50vh;
                  transform:translate(0, 0);
                }
              }
              &.goal {
                & > div.preview {
                  & > div.p_t {
                    transform:translate(0, 0);
                  }
                }
              }
              &.activities {
                & > div.preview {
                  & > div.p_t {
                    transform:translate(100%, 0);
                  }
                }
              }
              &.disaster {
                & > div.preview {
                  & > div.p_t {
                    transform:translate(200%, 0);
                  }
                }
              }
              &.network {
                & > div.preview {
                  & > div.p_t {
                    transform:translate(300%, 0);
                  }
                }
              }
              &.selected {
                opacity: 1;
                & > div.preview {
                  & > div.p_t {
                    transform:translate(0, 0);
                  }
                }
                &.goal {
                  & > div.preview {
                    & > div.p_t {
                      transform:translate(150%, 0);
                    }
                  }
                }
                &.activities {
                  & > div.preview {
                    & > div.p_t {
                      transform:translate(150%, 0);
                    }
                  }
                }
                &.disaster {
                  & > div.preview {
                    & > div.p_t {
                      transform:translate(150%, 0);
                    }
                  }
                }
                &.network {
                  & > div.preview {
                    & > div.p_t {
                      transform:translate(150%, 0);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  & > nav#primary-nav {
    position: absolute;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s;
    display: table;
    background-color: inherit;
    color:#fff;
    &.nav-visible {
      z-index: 3;
      opacity: 1;
    }
    & > ul {
      display: table-cell;
      vertical-align: middle;
      list-style: none;
      & > li {
        & > a {
          font-size: 1.2rem;
          color:#fff;
          display: inline-block;
          padding: 0.4em 1em;
          border-radius: 4px;
          transition: background 0.2s;
          font-weight: 700;
          white-space: nowrap;
          &:hover {
            background-color: #a8ae7e;
          }
          @media only screen and (min-width: $large-screen) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
